/* estilos.css */
#video-fondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

.titulo-pagina {
  /* Crea el cuadro inicial */ 
  padding: 20px;
  display: flex; /* Para que el cuadro se ajuste al texto */
  color: #ffff;
  justify-content: center;

  /* Llama a la animación */
  animation: cambioColor 1s infinite; 
}

/* Define la secuencia de colores */
@keyframes cambioColor {
  0%   { background-color: rgb(251, 255, 0); }
  25%  { background-color: blue; }
  50%  { background-color: rgb(0, 255, 0); }
  75%  { background-color: rgb(204, 0, 255); }
  100% { background-color: red; }
}
